*{
    background-color: var(--color_04);
}

:root{
    --color_01: #eadada;
    --color_02: #d59dc5;
    --color_03: #bf5caa;
    --color_04: #4d3a4d; 
}
body{
    background-color: var(--color_04);
}
.logo{
    width: 100px;
    border-radius: 100%;
}
.fundo{
    background-color: var(--color_04);
}
.imagem{
    width: 190px;
    border-radius: 100%;
}
.display-5{
    color: var(--color_01);
}
p{
 color: var(--color_02);
}
.carousel-caption {
    color: #da10da00;
}
.nav-link1 {
    color: var(--color_01);
    text-decoration: none;
}
.nav-link1 :hover{
    color: var(--color_01);
}
.nav-link2{
    color: var(--color_01);
    text-decoration: none;
}
.nav-link2:hover{
    color: var(--color_01);
}
p{
    color: var(--color_01);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent; 
  border: none; 
}
.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: #000; 
  font-size: 30px; 
}
.carousel-indicators {
    background-color: transparent;
    border: none;
}
.carouselExampleIndicators {
    bottom: 60px;
    border-top: 60px;
}
.link{
    color: red;
}
 /* .card{
 height: 573px;   
}  */

.btn {
    /* position: absolute; */
        bottom: 15px;
       
}

.nav-link1{
    font-size:40px;
    margin-right:50px;
}
.card1{
    height: 40px;
}
.card2{
    height: 80px;
    border: white solid;
    width: 10000px;
}
.img-fluid{
    width: 75%;
    display: block;    
    margin: 0 auto; 
}
.img-fluid2{
    width: 85%;
    display: block;    
    margin: 0 auto;
}
.card-title{
    color: var(--color_03);
}
.card-text{
    color: var(--color_01);
}
.paginas{
    color: var(--color_03);
}
.paginas1{
    color: var(--color_01);
}
.alinhamento{
    display: flex;
}
.p{
    color: var(--color_03);
}